*{
    user-select: none; 
}
.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: #444444;
    width: 100%;
    box-sizing: border-box;
}

/* Основные стили */
body {
    font-family: Arial, sans-serif;
    background-color: #333333; /* Тёмно-серый фон */
    color: #ffffff; /* Белый текст */
    margin: 0;
    padding: 20px;
    max-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Запрещаем прокрутку всей страницы */
}

/* Ограничиваем высоту секции с чекбоксами */
#controls {
    max-height: calc(100vh - 337px); /* Установите нужную вам высоту */
    max-width: 100%;
    overflow-y: auto; /* Включаем вертикальную прокрутку */
}

/* Заголовок */
header {
    flex-grow: 1;
    text-align: center;
    color: #ffffff; /* Белый текст */
    margin: 0;
}

/* Основная часть страницы */
main {
    display: flex;
    gap: 20px;
    flex-grow: 1;
}

/* Боковая панель */
aside {
    flex-basis: 18vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Контейнеры для чекбоксов и выбора состояния */
section {
    background-color: #444444; /* Более светлый серый фон */
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Стилизуем селект */
#state-select {
    width: 100%;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #333333; /* Более тёмная граница */
    border-radius: 5px;
    background-color: #444444; /* Более светлый серый фон */
    color: #ffffff; /* Белый текст */
}

/* Контейнер для графика */
#graph-container {
    flex-grow: 1;
    width: 70vw; /* Ширина контейнера равна 70% от ширины экрана */
    height: calc(100vh - 199px); /* Высота контейнера равна 80% от высоты экрана */
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    background-color: #444444; /* Более светлый серый фон */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Ссылки между узлами */
line {
    stroke: #cccccc; /* Светло-серая линия */
    stroke-width: 2px;
}

/* Узлы графа */
circle {
    stroke: #ffffff; /* Белый контур */
    stroke-width: 2px;
    cursor: pointer;
}

#restart-simulation {
    margin: 0;
    width: 100px;
    height: 100px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer; 
    background-color: #444444;
    color: #ffffff;
}

/* Общие стили для легенды */
#legend {
    width: fit-content;
    min-width: 30vw;
    font-size: 14px;
    margin: 0 20px;
}

#legend ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

#legend li {
    margin-bottom: 5px;
    padding: 8px 12px; /* Увеличим немного внутренние отступы */
    border-radius: 5px;
    cursor: pointer;
    color: #333333; /* Цвет текста для элементов списка */
    text-align: center; /* Центрируем текст внутри элемента */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15); /* Легкая тень для объема */
    transition: all 0.2s ease-in-out; /* Плавный переход при наведении */
}

/* Добавим эффект при наведении мыши */
#legend li:hover {
    transform: scale(1.01); /* Немного увеличим размер при наведении */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25); /* Усилим тень */
}

#legend li:active {
    animation: click-effect 0.2s forwards;
}

@keyframes click-effect {
    from { transform: scale(1.01); }
    to { transform: scale(1); }
}

.columns {
    display: flex;
    justify-content: space-between; /* Равномерное распределение пространства между колонками */
}

.column {
    width: 50%; /* Оставляем небольшой промежуток между колонками */
}

/* Убираем отступы между списками */
.column ul {
    margin-right: 10px; /* Можно изменить значение для настройки расстояния между колонками */
}

/* Стилизация для различных групп */
.official-regions {
    background-color: #e57373;
}

.rw-drought {
    background-color: #4682b4;
}

.sunlit-trail {
    background-color: #7cb342;
}

.shrouded-assembly {
    background-color: #bea0c6;
}

.old-new-horizons {
    background-color: #e4e4e4;
}

.other-regions {
    background-color: #ffce73;
}

/* Мобильные устройства (ширина экрана меньше 768px) */
@media (max-width: 767px) {
    .top-bar {
        flex-direction: column; /* Переключаемся на вертикальное расположение */
    }
    
    body {
        overflow: auto; /* Разрешить прокрутку на небольших экранах */
    }
    
    .top-bar > * {
        margin-top: 10px; /* Добавляем отступ сверху для каждого элемента */
    }

    header {
        margin-top: 0; /* Убираем отступ сверху для заголовка */
    }

    #legend {
        position: static; /* Убираем абсолютное позиционирование для легенды */
    }

    #restart-simulation {
        position: static;
        bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
        width: 95%;
        height: 100px;
        font-size: 12px;
        border-radius: 5px;
        background-color: #444444;
        color: #fff;
    }

    main {
        flex-direction: column; /* Меняем направление флексбокса на вертикальное */
    }

    aside,
    #graph-container {
        width: 100%; /* Делаем блоки на всю ширину экрана */
    }

    #controls {
        max-height: 90vh;
    }

    #graph-container {
        margin-bottom: 20px;
        height: 90vh;
    }
}

/* Планшеты (ширина экрана от 768px до 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
    
    body {
        overflow: auto; /* Разрешить прокрутку на небольших экранах */
    }

    main {
        flex-direction: column; /* Меняем направление флексбокса на вертикальное */
    }

    aside,
    #graph-container {
        width: 100%; /* Делаем блоки на всю ширину экрана */
    }

    #controls {
        max-height: 90vh;
    }

    #graph-container {
        margin-bottom: 20px;
        height: 90vh;
    }
}
